/*css for portfolio website designed by Shubham Doundkar*/
 body{
  padding: 0px;
  margin: 0px;
}
.header {
  color: white;
  background-color: grey;
  text-align: center;
  width: 100%;
  padding: 0.5%;
}
.header img {
  float: left;
  width: 10%;
  padding: 0.5%;
}
.header h4 {
  color: black;
  text-align: right;
}
.wallpaper {
  align-self: center;
}
.wallpaper img {
  width: 100%;
  padding: 0% 50px;
}
.wallpaper h4 {
  padding-left: 5%;
  text-align: right;
  color: #966F33;
  position: absolute;
}
.wallpaper h3 {
  color: black;
  position: absolute;
  /*padding: 15%;*/
  padding: 18.42% 16.6% 35.26% 24%;
  /*padding-top: 250px;
  padding-right: 300px;*/
}
.port-folio-container {
  padding: 20px 65px 20px 50px;
/*  padding: 5%;*/
}
.port-folio-container h2 {
  text-align: center;
}
.port-folio-container img {
  width: 18.75em;
  height: 18.75em;
  border: 1px solid;
  border-style: double;
  padding-right: 6.25%;
}
.footer {
  background-color: #333;
  height: 170px;
  width: 1276px;
  padding-left: 20px;
  padding-top: 20px;
}
.footer a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  float: left;
  padding-right: 30px;
  display: inline-block;
}
.footer iframe {
  padding-right: 50px;
  height: 140px;
  width: 450px;
  padding-left: 90px;
  float: left;
}
.social-icon{
  /*background: #3B5998;*/
  color: blue;
  /*padding-right: 30px;*/
  padding-left: 10px;
  float: left;
}
.social-web-links .social-icon:first-child {
  padding-left: 10;
}
.button-up{

}
.button-up img {
  position: fixed;
  bottom: 24px;
  right: 20px;
  height: 35px;
  width: 35px;
  margin-right: 0px;
}
/* media query for mobile responsive website
*/
@media(max-width: 600px) {
  .header{
    width: 100%;
    text-align: center;
  }
  .header img {
    float: none;
    width:60%;
  }
}
@media(max-width: 767px) {
  .body {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .walapaper{
    height: 100%;
  }
  .wallpaper img {
    align-items: center;
    height: 100%;
    width:95%;
  }
  .port-folio-container img {
    padding-left: 0px;
    width: 85%;
  }
}
@media(max-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer iframe {
    width: 250px;
    height: 75px;
    float: none;
    align-self: center;
  }
  .social-sites {
    width: 33.33%;
    float: none;
  }
/*  .social-sites ul li {
    padding-right: 10px;
    float: none;
  }*/
  .footer a {
    width: 33.33%;
    float: right;
    display: inline-block;
  }
 .social-icon {
  padding: 15px;
  }
}